.hightlight
{
    background-color: rgb(255, 240, 240);
}
.navbar-style{
    background-color: #0c8351 !important;
}
.customerNameStyleRed
{
    color: rgb(0, 240, 240);
    font-size: large;

}
.customerNameStyleBlue
{
    color: rgb(12, 30, 197);
    font-size: small;
}
.badge-color-blue
{
    background-color: black;
    font-style: italic;
}
.hand-icon{
    cursor: pointer;
}